* {
    margin: 0;
    padding: 0;
    color: white;
}

#navbar {
    height: 3rem;
    background-color: black;
    padding-top: 1rem;
    padding-left: 3rem;
}

a {
    margin: 0 5rem 0rem 3rem;
    text-decoration: none;
}

button {
    background-color: blue;
}

button:hover {
    background-color: brown;
    color: white;
}

.stationary {
    height: 5rem;
    width: 5rem;
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
}

footer {
    height: 3rem;
    background-color: black;
    color: white;
    text-align: center;
}
    
